<mat-toolbar color="primary" class="header-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="update()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>La Orlabeda</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item disabled="{{userLoggedIn}}" [routerLink]="'/register'">
        <mat-icon>person</mat-icon>
        <span>Registrarse</span>
    </button>
    <button mat-menu-item disabled="{{userLoggedIn}}" [routerLink]="'/login'">
        <mat-icon>login</mat-icon>
        <span>Iniciar Sesión</span>
    </button>
    <button mat-menu-item disabled="{{!userLoggedIn}}" (click)="navLogout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
    </button>
</mat-menu>