<div class="title">
    <h2>Lista de Personas</h2>
    <div class="buttons">
        <button mat-fab color="primary" aria-label="Añadir persona" (click)="addObject()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Guardar persona" (click)="saveObjectList()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>


<div class="tableData mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matPaginator>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre"> Título </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Eliminar persona" (click)="removeObject(element)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button aria-label="Editar persona" (click)="editObject(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator showFirstLastButtons [length]="objectList.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" aria-label="Select page"
        class="paginator"></mat-paginator>

</div>