.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333333;
}

mat-card {
  max-width: 400px;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  margin-top: 20px;
}

.centerer {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centerer a {
  color: #1565c0;
  cursor: pointer;
  text-decoration: underline;
}